<!---------Portfolio Global------->
<div class="portfolio_global ">
	        <div class="global_logos grid">
                            <div class="g_logo g_logo1 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/microsoft_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo2 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/american_express_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo3 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/n_gloabl.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo4 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/human_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo5 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/passport_cart_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo6 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/jfrog_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo7 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/alam_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo8 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/taboola_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo9 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/is_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo10 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/star_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo11 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/playtika_global.svg" alt="" data-speed="-5"/></div></div>
                            <div class="g_logo g_logo12 grid__item"><div class="grid__item-img"><img src="/assets/device-iot/finaro_global.svg" alt="" data-speed="-5"/></div></div>
                        
            
        </div>
        <div class="global_con">
        <div class="global_wrap">
            <h2>Our Clients</h2>            <h3>From small to global, we have partnered with some great companies</h3>                        <div class="global_but">
                <a href="#contactus" >                    <span class="default-text">Let's Talk</span>
                    <span class="hover-text">Let's Talk</span>
                    <span class="button-overlay"></span>
                </a>
            </div>
                    </div>
    </div>
</div>

						<div class="otgs-development-site-front-end"><span class="icon"></span>אתר זה רשום ב-<a href="https://wpml.org">wpml.org</a> כאתר פיתוח. עבור אל מפתח אתר ייצור אל <a href="https://wpml.org/faq/how-to-remove-the-this-site-is-registered-on-wpml-org-as-a-development-site-notice/?utm_source=plugin&utm_medium=gui&utm_campaign=wpml-core&utm_term=footer-notice">remove this banner</a>.</div >
